/**
  Page Name:                        admin_panel.css
  author :		            Nicolas Naresh
  Date:			            June, 03 2014
  Purpose:		            This page contains css used in admin panel
  Table referred:		    -
  Table updated:	            -
  Most Important Related Files:     -
*/
body{
  color: #8e8e8e;
}
.page_header{
  background-color: #991B1E;
  padding-bottom: 3px;
}

.page_heading_text{
  color: #fff;
  font-size: 40px;
}

.logout-link{
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 5px;
}

.logout-link:hover{
  color: #fff;
}

#left-panel{
  /*background-color: #991B1E;*/
  z-index: 3;
  list-style: none;
  padding: 0px;
  border: 1px solid #ddd;
  border-right: none;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width: 1198px){
  #left-panel{
    border-right: 1px solid #ddd;
  }
  .link{
    display: none;
  }
  .small-window-show{
    display: block !important;
  }
  
}

.small-window-show{
  display: none ;
}

#left-panel li{
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  margin:1px;
  -webkit-transition: background-color 1ms linear;
  -moz-transition: background-color 1ms linear;
  -o-transition: background-color 1ms linear;
  -ms-transition: background-color 1ms linear;
  transition: background-color 300ms linear;
}

li.lms-active{
  background-color: #991B1E !important;
}
#left-panel li a{
  font-weight: 700;
  color: #991B1E;
  padding: 10px;
  padding-left: 40px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}


#left-panel li:hover{
  background-color: #991B1E;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transitinline-blockion: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#left-panel li:hover a{
  color: #fff;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

li.lms-active a{
  color: #fff !important;
}

#content-panel{
  min-height: 512px;
  z-index: 1;
  padding-top: 10px;
  border-left: 1px solid #ddd;
}

.link{
  color: #fff;
  text-decoration: none !important;
  padding: 3px;
  margin-right: 10px;
}

.link:first-child{
  margin-right: 0px !important;
}

.inline-block{
  display: inline-block;
  width: 100%;
}


.h4-new{
  font-size: 20px;
  margin-top: -9px;
}

legend{
  color: #991B1E;
}

.ui-datepicker-trigger{
  display: none;
}


.normal-button:hover{
  background-color: #991B1E;
  border-color: #991B1E;
}

.normal-button{
  background-color: #991B1E;
  color: #FFF;
  border-color: #991B1E;
  font-weight: 700;
}


table.dataTable.no-footer{
  border-bottom: 1px solid #ddd;
}

table.dataTable thead th, table.dataTable thead td{
 border-bottom: 1px solid #ddd; 
}