/**
  Page Name:                        login.css
  author :		            Nicolas Naresh
  Date:			            June, 03 2014
  Purpose:		            This page contains css used in login and forgot password pages
  Table referred:		    -
  Table updated:	            -
  Most Important Related Files:     -
*/
.login-well{
  background-color: #eee;
  color: #48036F;
  box-shadow: 7px 0px 0px 6px #991B1E;
  border-radius: 28px 41px 31px 28px !Important;
}

.button-normal:hover{
  background-color: #991B1E;
  border-color: #330570;
}

.button-normal{
  background-color: #991B1E;
  color: #FFF;
  border-color: #991B1E;
  font-weight: 700;
}


legend{
  color: #991B1E;
}
label{
  color: #991B1E;
}