/*
File Name	: style.css
Author 		: Jack Braj
Date		: June 03, 2014
Purpose		: Custom styles for leave management system
*/

/*--------- Leave Module -----------*/

.general-report-container{
	overflow: scroll;
	height:580px;
	width: 99.5%;
	font-size: 12px;
}
.general-report-container-inner{
	/*min-width:1500px;*/
}
/*.general-report-container-inner th, .general-report-container-inner td{
	width: 30px;
}*/

.notification{
	position: absolute;
	right: 18px;
	min-width: 270px;
	z-index: 1000;
	top: 50px;
}
.notification button{
	margin-right: 4px;
}
.box{
	border: 1px solid #991B1E;
	min-height: 50px;
	text-align: center;
	width: 147px;
}
.box.headed label{
	width: 100%;
	background-color: #991B1E;
}
.box.headed > div{
	padding: 35px;
	font-size: 15px;
	font-weight: 700;
}
.not-rounded{
	border-radius: 0px !important;
}
.rounded{
	border-radius: 44px;
}
.rounded > label:first-child{
	border-radius: 82px 82px 0px 0px;
	padding: 10px;
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
}
#blockUI{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
	background-color: rgba(1,1,1,0.5);
}

#blockUI img{
	position: absolute;
	top: 45%;
	left: 48%;
}


#csr-container {

}

.input-xs{
	width: 70px !important;
}

.input-group-addon-new{
	padding: 9px 3px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
}

.padding-right-5{
	padding-right: 5px;
}

.slot_from{
	width:270px;
  	float:left;
}
.slot_to{
	width:217px;
	float:right;
}

.rounded-right{
	border-radius: 0px 5px 5px 0px !important;
}


.ui-datepicker-month{
	color: #48036F;
}

.ui-datepicker-year{
	color: #48036F;
}

.ui-datepicker-header{
	background: #CC71ED;
	border: #A459C1;
}

.ui-state-default{
	color: #A447B7 !important;
}

.ui-datepicker-calendar th{
	color: #48036F !important;
}


.padding_4{
	padding: 4px;
}

.padding_10{
	padding: 10px;
}

.round-icon{
	border-radius: 12px;
}

.checkbox-text{

}

#lm-autosearch{

}

#lm-autosearch table{
	width: 100%;
}
#lm-autosearch table tr{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

#lm-autosearch table tr td{
	padding-left: 5px;
	cursor: pointer;
	cursor: hand;
}

#lm-autosearch table tr td:hover{
	background-color: #08C;
	color: #fff;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-bottom-0{
	margin-bottom: 0px !important;
}
.btn-group
{
  width:100%;
}
.btn-group>.btn:first-child
{
 display: block;
width: 100%;
  text-align: left;
}
.btn-group>.btn:first-child >b.caret
{
  	margin-top: 8px;
	position: absolute;
	right: 9px;

}

.form-horizontal, .table.table-striped{
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #ddd;
	padding: 10px;
	border-collapse: separate;
}

.border-round-5{
	border: 1px solid #ddd;
	border-radius: 5px;
}

.editable{
	display: inline-block;
	padding: 5px 0px;
	width: 50px;
	border: 1px solid #eee;
	cursor: pointer;
}


/*@media screen and(max-width: 800px){
	.slot_to{
		float:left !important;
	}
}*/


/*----------------------------------*/
.slider-track{
	background-color: #FFA2A2 !important;
	background-image: linear-gradient(to bottom, #FFA2A2, #FFA2A2);
	z-index: 1000;
}

.slider-selection{

	background-color: #B24040 !important;
	background-image: linear-gradient(to bottom, #B24040, #B24040);
}
.slider-handle{
	border-bottom-color: #571010 !important;
	background-color: #571010 !important;
	background-image: linear-gradient(to bottom, #571010, #571010)
}

.in-between-hours{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.in-between-hours.slot_9 div{
	float: left;
	z-index: -1;
	
	/*border-right: 1px solid #571010;*/
	width: 11.11%;
	position: relative;
}

.in-between-hours.slot_9 > div > span.slotline{
	position:absolute;
	border-right: 1px solid #571010;
	height: 20px;
	right: 0px;
	top: -20px;
}

.in-between-hours.slot_9 > div > span.slot-time-value{
	position: relative;
	margin-left: 62px;
	width: 65px;
	display: inline-block;
}





.in-between-hours.slot_95 div{
	float: left;
	z-index: -1;
	
	/*border-right: 1px solid #571010;*/
	width: 10.526315%;
	position: relative;
}

.in-between-hours.slot_95 > div > span.slotline{
	position:absolute;
	border-right: 1px solid #571010;
	height: 20px;
	right: 0px;
	top: -20px;
}

.in-between-hours.slot_95 > div > span.slot-time-value{
	position: relative;
	margin-left: 62px;
	width: 65px;
	display: inline-block;
}









.datepicker td.active, .datepicker td.active:hover {
	color: #ffffff;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #B24040, #991B1E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B24040), to(#991B1E));
	background-image: -webkit-linear-gradient(top, #B24040, #991B1E);
	background-image: -o-linear-gradient(top, #B24040, #991B1E);
	background-image: linear-gradient(to bottom, #B24040, #991B1E);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #991B1E #991B1E #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
